/* Write your CSS here */

.latest-match-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 15px;
  }
  
  .latest-matches-container {
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .latest-match-heading{
      font-size: 20px;
    }
    .latest-matches-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .latest-matches-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 20px 20px 0px 15px;
  }
  
  .latest-match-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
  }
  
  @media screen and (min-width: 768px) {
    .latest-matches-top-container {
      width: 56%;
    }
    .latest-match-details {
      width: 80%;
    }
  }

  .match{
    color: #ffffff;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
    font-family: 'Bree Serif';
  }
  
  .competing-team-name {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    font-family: 'Bree Serif';
  }
  
  @media screen and (min-width: 768px) {
    .competing-team-name {
      font-size: 28px;
    }
  }
  .date {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bree Serif';
    margin: 0px;
  }
  
  .venue {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Bree Serif';
  }
  
  .result {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Bree Serif';
  }
  
  .competing-team-logo {
    width: 80px;
    height: 80px;
  }
  
  @media screen and (min-width: 768px) {
    .competing-team-logo {
      min-width: 150px;
      min-height: 150px;
      max-height: 200px;
    }
  }
  
  .line {
    border: 1px solid #475569;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .line {
      border: 0px;
      width: 0%;
    }
  }
  
  .latest-matches-bottom {
    padding: 15px 10px 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media screen and (min-width: 768px) {
    .latest-matches-bottom {
      justify-content: flex-end;
    }
  }
  
  .details {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Bree Serif';
    font-weight: 500;
    margin: 8px;
    margin-left: 0px;
  }
  
  .man-of-the-match {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Bree Serif';
    margin: 8px;
    margin-left: 0px;
    font-weight: 500;
  }
  
  .status {
    align-self: center;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Bree Serif';
    font-weight: 500;
    margin: 0px;
    margin-top: 6px;
  }
  
  @media screen and (min-width: 768px) {
    .latest-matches-bottom {
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    .man-of-the-match,
    .details {
      text-align: right;
    }
  }
  
  .result-won {
    color: #18ed66;
  }
  
  .result-lost {
    color: #e31a1a;
  }