
.app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .app-container {
      background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    }
  }
  
  .ipl-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  @media screen and (min-width: 768px) {
    .ipl-container {
      padding-top: 86px;
      padding-bottom: 68px;
    }
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 50px;
    margin-right: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .logo {
      width: 60px;
      height: 70px;
    }
  }
  
  .heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .heading {
      font-size: 52px;
    }
  }
  
  .teams-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
  }
  